.chart {
    margin-bottom: 0;
}

.auth-card {
    max-width: 33%;
    min-width: 275px;
}
.rounded-card {
    border-radius: 10px;
    box-shadow: 0px 3px 11px 0px #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A !important;
}

.rounded {
    border-radius: 10px;
}

.dashboard-section {
     padding-top: 0 !important;
     padding-bottom: .25rem !important;
}

.App-title {
    font-weight: 500
}

.buyOrSell label input[type=checkbox]:checked+.lever {
    background-color: green;
}

.buyOrSell label .lever {
    background-color: red;
}

.buyOrSellLabel {
    font-size: 12px;
}

.card-title {
    font-weight: 500 !important;
    margin-bottom: 5px !important;
    font-size: 18px !important
}

.thumbnail {
    float: right;
    border-radius: 6px;
    display: flex;
    max-height: 90px;
    padding-left: 20px;
    max-width: 20%;
    justify-content: center;
}

.articleDate {
    font-weight: 350
}

.auth-tabs {
    margin-bottom: 34px;
    border-bottom: 1px solid grey;
}

.card-content {
    padding: 16px !important
}

.collapse-articles {
    min-width: 32px !important;
}

.transaction-form .MuiPaper-root {
    min-width: 65%;
    border-radius: 10px !important
}

.article-list-title {
    cursor: pointer;
    width: fit-content;
}