.tickers {
	display: flex;
	align-items: stretch;
	list-style-type: none;
	padding: 0;
	flex-wrap: wrap;
	z-index: 5;
	align-items: flex-start;
}

.ticker-header {
	padding: 8px 12px 0 !important;
	margin-bottom: -20px
}

.MuiCardContent-root {
	/* margin-bottom: 10px !important */
}

.ticker-card-items {
	margin-top: -40px !important;
}

.MuiGrid-item {
	text-align: center;
	font-size: 12px;
}

.ticker-card {
	width: 80%;
	max-width: 200px;
	margin: 2px;
}

.ticker-sub-header {
	display: flex;
	flex-direction: row;
}

.ticker-price {
	font-size: 16px;
	font-weight: 600;
}

.positive-change {
	font-size: 14px;
	padding-left: 4px;
	color: #05B169;
	height: fit-content;
	align-self: flex-end;
}

.MuiCardContent-root:last-child {
	padding-bottom: 10px !important;
}

.negative-change {
	font-size: 14px;
	padding-left: 4px;
	color: #ff5f67;
	height: fit-content;
	align-self: flex-end;
}

.flex {
	padding-top: 12px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cryptocurrency {
	flex-grow: 1;
	flex-shrink: 1;
	/* background-color: #F0F0F0; */
	padding: .7rem .5rem .1rem;
	margin: .75rem;
	border-radius: 0.5rem;
	min-width: 9rem;
	border: solid 1px rgbd(0,0,0,0.05);
	text-align: center;
	align-items: center; 
}

.positive {
	box-shadow: 0px 3px 11px 0px #5bb620, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
}

.negative {
	box-shadow: 0px 3px 11px 0px #b22222, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
}

.price {
	font-size: 20px;
	font-weight: 600;
}

.cryptocurrency p {
	color: rgba(0, 0, 0, 0.75);
}

.cryptocurrency-name {
	font-size: 16px;
	/* border-bottom: solid .5px; */
	/* font-family: 'Roboto'; */
	font-weight: 500;
}

.cryptocurrency-rank {
	text-align: center;
	font-weight: bold;
}

.percent-change-1h, .percent-change-24h {
	font-size: 14px;
	font-weight: 500;
}