.graph {  
    width: 95% !important;
    height: 90% !important;
    color:dimgrey 
} /* Globally */

.modal { z-index: 100000}

.modal-content {
    padding: 1.5% !important;
}

.greyButton { background-color: #536DFE; color: white}